$grey: #999999;
#main.about {
  @include size(100%);
  background: black;
  padding: 2rem 0 0 0 ;
  color: white;

  max-width: 100vw;
  overflow: hidden;

  header {
    margin: 0 2rem;
    a, h1 {color: white;}
  }
  > section {
    padding: 0 2rem;
  }
  .big-text-block {
    max-width: 50rem;
    h2, p {
      max-width: 50rem;
      margin-top: 0;
      
      font-family: $atlasMed;
      font-size: 2.625rem;
      line-height: 3.75rem;
      letter-spacing: .2rem;
      color: white;    
    }
  }
  .content-wrap {
    overflow: auto;
    .image {
      img{
          @include size(40.7rem 40.6rem);
          display: block;
          margin: 0 auto;
      }
    }
    .title {
      h3 {
        font-family: $atlasReg;
        color: $grey;
        font-size: 1.35rem;
        margin-bottom: 2.3rem;
        letter-spacing: 1px;
      }
    }
    .row {
      @include span-columns(1);
      min-width: 12rem;
      margin-right: 12rem;

      h2, h3, p {
        font-family: $atlasReg;
        color: $grey;
        margin: 0;
        white-space: nowrap;
      }
      h2, h3 {
        font-size: 1.35rem;
        margin-bottom: 2.3rem;
        letter-spacing: 1px;
        @include media($mobile) {
          margin-bottom: 2rem;
          overflow: auto;
          white-space: normal;
          line-height: 1.3;
        }
      }
      p {
        font-size: 0.975rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        line-height: 1.8rem;
        margin-bottom: 2.3rem;
        &:last-child {
          margin-bottom: 0;
        }
      }

      &:nth-child(2) {
        margin-right: 9rem;
      }
      @include media($mobile) {
        margin-right: 0;
        margin-bottom: 5rem;
      }
    }
  }
  section:not(.footer) {
    margin: 10rem 0;
    overflow: auto;
    section {
      // margin-bottom: 0;
    }
  }
  section.fixable {
    position: relative;
  }
  section.first  {
    .big-text-block {
      margin-right: 3rem;
      float: left;
      h3 {
        left: 2rem;
        top: 2rem;
      }
    }
    .content-wrap {
      .row{padding-top: .5rem;}
    }
  }
  section.second {
    .content-wrap {
      width: calc(100% - 4rem - 50rem);
      float: left;
    }
    .big-text-block {
      float: right;
      p {
        top: 2rem;
        right: 2rem;
      }
    }
  }
  section.third {
    .content-wrap {
      width: calc(100% - 14rem - 50rem);
      float: right;
      > section {
        padding-left: 13.5rem;
      }
    }
    .big-text-block {
      float: left; 
      margin-right: 10rem;
      p {
        top: 2rem;
        left: 2rem;
      }
    }
  }

  section.footer {
    width: 100%;
    overflow: auto;
    margin-bottom: 8rem;
    @include clearfix;


    h3 {
      margin-bottom: 2.3rem;
    }
    a {
      color: $grey;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1rem;
      letter-spacing: 1px;
      font-family: $atlasReg;
      @include transition(color 0.25s $ease-in-out-sine);
    }
    p, h3 {
      white-space: initial !important;
    }
    a:hover {
      color: white;
    }

    .contact {
      min-width: 17rem;
      p:nth-child(3) {
        text-transform: none !important;
        letter-spacing: 0.06rem;
      }
    }
    .follow {
      p:last-of-type {
        font-size: 1.4rem;
        text-transform: none !important;
        white-space: nowrap !important;
      }
    }
    .credit {
      h3:not(:first-child) {
        text-transform: uppercase;
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
  }
}
