#main.home {
  #menu {
    display: none;
  }
  background-color: #f1f1f1;
  padding: 2rem;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  figure {
    margin: 0 4rem 8rem 4rem;
flex-basis:content;
    figcaption {
      p {
        text-align: center;
        font-size: 1.3rem;
        letter-spacing: .1rem;

        span {
          color: #999999;
        }
      }
    }
  }
}
