#main.project {
  padding: 2rem;
  max-width: 100vw;
  overflow-x: hidden;
  background:white;
  .wrap {
    background: white;
  }
  @include media($desktop) {
    padding-left: 4rem;
    padding-right: 4rem;
    .wrap {
      padding-left: 15rem;
      padding-right: 15rem;
    }
  }
  .infos {
    position: relative;
    overflow: auto;

    h1{
      margin-top: 6rem;
      margin-bottom: 3.5rem;
      display: inline-block;
      position: relative;
      letter-spacing: 1.5px;

      font-size: 4.5rem;
      @include media($mobile) {
        font-size: 4rem;
      }

      .date {
        margin: 0;
        position: absolute;
        top:0; left: calc(100% + 1.5rem);

        font-family: $atlasLight;
        color: $grey;
        font-size: 1.4rem;
        letter-spacing: 1px;
        @include media($mobile) {
          left: 0;top: -2rem;
        }
      }
    }
    .client {
      margin-bottom: 4rem;
      p {
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 1.3;
        font-size: 1.1rem;
        color: #4d4d4d;
        span {
          display: block;
          color: #999999;
        }
      }
    }
    .share {
      min-width: 7rem;
      position: absolute;
      right: 0; top:7rem;

      @include media($mobile) {
        position: static;
      }

      ul {
        overflow: hidden;
        list-style: none;
        padding: 0;
        margin: 0;

        @include media($mobile) {
          display: flex;
        }

        li {
          font-family: $atlasReg;
          text-transform: uppercase;
          text-align: right;
          line-height: 1.3;
          font-size: 1rem;
          letter-spacing: 1px;
          color: #999999;

          margin-bottom: 2rem;
          
          @include media($mobile) {
            margin-left: 3rem;
            &:first-child {
              margin-left: 0;
            }
          }

          a {
            display: block;
            width: 100%;

            text-decoration: none;
            font-size: 1rem;
            color: #4d4d4d;
          }

          &:not(:first-child) {
            overflow: hidden;
            position: relative;
            min-height: 3.3rem;
            margin-bottom: 0;

            a {
              
              @include media($desktop) {
                position: absolute;
                left: calc(100% - 1rem);

                @include transition(all 0.25s $ease-in-out-sine);  


                // Show first letter trick:
                visibility: hidden;
                &:first-letter {
                  visibility: visible;
                }
              }
            }

            &:hover {
              a {
                visibility: visible;
                left: 0;
              }
            }
          }

          &:nth-child(3) {
            a{left: calc(100% - 2.4rem);}
          }
        }

      }
    }
  }
  img {
    margin-bottom: 5.5rem;
    width: 100%;

    @include media($mobile) {
      margin-bottom: 2.5rem;
    }
  }

  figure.half {
    margin: 0;
    width: 50%;
    float: left;
    padding-right: 2.5rem;
    @include media($mobile) {
      padding-right: 1rem;
    }
  }
  figure.half + figure.half {
    padding-right: 0;
    padding-left: 2.5rem;
    @include media($mobile) {
      padding-left: 1rem;
    }
  }
  section {
    overflow: auto;
    margin-bottom: 5.5rem;
    width: 100%;

    @include media($mobile)  {
        &:last-of-type {
        > div:first-child {
          display: none;
        }
      }
    }

    > div {
      @include span-columns(6);
      @include media($mobile) {
        @include span-columns(12);
      }

      &:first-child  {
        position: relative;
        p {
          margin: 0;

          font-family: $atlasLight;
          text-transform: uppercase;
          font-size: 1rem;
          letter-spacing: 1px;
          color: #999999;
          &.text-hide {
            opacity: 0;
          }
        }
      }
      &:last-child {
        p {
          letter-spacing: 1px;
          font-family: $atlasReg;
          font-size:  2.3rem;
          line-height: 3.3rem;
          color: black;
          margin: 0;
          text-transform: none;
          @include media($mobile) {
            font-size: 2rem;
            line-height: 2.8rem;
          }
          a {
            text-decoration: none;
            color:#d0d0d0; 
            @include transition(color 0.25s $ease-in-out-expo);
            &:hover {
              color: black;
            } 
          }
        }
      }
    }
  }
}
