html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/**
 * Base styles 		~	 	Grid options
 */
/**
 * Base styles 		~	 	Media Query options
 */
/**
 * Base styles 		~	 	Colours
 */
/**
 * Base styles 		~	 	Type
 */
/**
 * Base styles ~ Easings
 */
/**
 * Base styles
 */
html {
  font-family: "AtlasGrotesk-Light-Web", helvetica, sans-serif;
  font-size: 62.5%;
}
@media screen and (min-width: 1920px) {
  html {
    font-size: 83.3%;
  }
}
@media screen and (min-width: 1450px) and (max-width: 1920px) {
  html {
    font-size: 71.4%;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1350px) {
  html {
    font-size: 50%;
  }
}
@media screen and (min-width: 480px) and (max-width: 1000px) {
  html {
    font-size: 24%;
  }
}

body {
  position: relative;
  background: #fff;
}

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: bottom;
}

.isMobile {
  display: none;
  visibility: hidden;
}
@media screen and (max-width: 1000px) {
  .isMobile {
    visibility: visible;
    display: block;
  }
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #000;
  text-shadow: none;
  color: white;
}

::selection {
  background: #000;
  text-shadow: none;
  color: white;
}

.no-bullet,
ul.no-bullet {
  list-style: none;
}

/* Misc ---------------------- */
.hide {
  display: none;
}

.fill-remainder {
  float: none;
  overflow: hidden;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

@media screen and (max-width: 480px) {
  .hide-mobile {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .hide-desktop {
    display: none;
  }
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/**
 * Base styles ~ Grid
 */
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.container::after {
  clear: both;
  content: "";
  display: table;
}

.row {
  display: block;
}
.row::after {
  clear: both;
  content: "";
  display: table;
}

.one {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 6.1721527019%;
}
.one:last-child {
  margin-right: 0;
}

.two {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 14.7019570017%;
}
.two:last-child {
  margin-right: 0;
}

.three {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 23.2317613015%;
}
.three:last-child {
  margin-right: 0;
}

.four {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 31.7615656014%;
}
.four:last-child {
  margin-right: 0;
}

.five {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 40.2913699012%;
}
.five:last-child {
  margin-right: 0;
}

.six {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 48.821174201%;
}
.six:last-child {
  margin-right: 0;
}

.seven {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 57.3509785009%;
}
.seven:last-child {
  margin-right: 0;
}

.eight {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 65.8807828007%;
}
.eight:last-child {
  margin-right: 0;
}

.nine {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 74.4105871005%;
}
.nine:last-child {
  margin-right: 0;
}

.ten {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 82.9403914003%;
}
.ten:last-child {
  margin-right: 0;
}

.eleven {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 91.4701957002%;
}
.eleven:last-child {
  margin-right: 0;
}

.twelve {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%;
}
.twelve:last-child {
  margin-right: 0;
}

@font-face {
  font-family: 'arn-webfont';
  src: url("../fonts/arn-webfont.eot");
  src: url("../fonts/arn-webfont.eot") format("embedded-opentype"), url("../fonts/arn-webfont.woff2") format("woff2"), url("../fonts/arn-webfont.woff") format("woff"), url("../fonts/arn-webfont.ttf") format("truetype"), url("../fonts/arn-webfont.svg#arn-webfont") format("svg");
}
@font-face {
  font-family: 'AtlasGrotesk-Light-Web';
  src: url("../fonts/AtlasGrotesk-Light-Web.eot");
  src: url("../fonts/AtlasGrotesk-Light-Web.eot") format("embedded-opentype"), url("../fonts/AtlasGrotesk-Light-Web.woff") format("woff"), url("../fonts/AtlasGrotesk-Light-Web.ttf") format("truetype"), url("../fonts/AtlasGrotesk-Light-Web.svg#AtlasGrotesk-Light-Web") format("svg");
}
@font-face {
  font-family: 'AtlasGrotesk-LightItalic-Web';
  src: url("../fonts/AtlasGrotesk-LightItalic-Web.eot");
  src: url("../fonts/AtlasGrotesk-LightItalic-Web.eot") format("embedded-opentype"), url("../fonts/AtlasGrotesk-LightItalic-Web.woff2") format("woff2"), url("../fonts/AtlasGrotesk-LightItalic-Web.woff") format("woff"), url("../fonts/AtlasGrotesk-LightItalic-Web.ttf") format("truetype"), url("../fonts/AtlasGrotesk-LightItalic-Web.svg#AtlasGrotesk-LightItalic-Web") format("svg");
}
@font-face {
  font-family: 'AtlasGrotesk-Medium-Web';
  src: url("../fonts/AtlasGrotesk-Medium-Web.eot");
  src: url("../fonts/AtlasGrotesk-Medium-Web.eot") format("embedded-opentype"), url("../fonts/AtlasGrotesk-Medium-Web.woff2") format("woff2"), url("../fonts/AtlasGrotesk-Medium-Web.woff") format("woff"), url("../fonts/AtlasGrotesk-Medium-Web.ttf") format("truetype"), url("../fonts/AtlasGrotesk-Medium-Web.svg#AtlasGrotesk-Medium-Web") format("svg");
}
@font-face {
  font-family: 'AtlasGrotesk-Regular-Web';
  src: url("../fonts/AtlasGrotesk-Regular-Web.eot");
  src: url("../fonts/AtlasGrotesk-Regular-Web.eot") format("embedded-opentype"), url("../fonts/AtlasGrotesk-Regular-Web.woff") format("woff"), url("../fonts/AtlasGrotesk-Regular-Web.ttf") format("truetype"), url("../fonts/AtlasGrotesk-Regular-Web.svg#AtlasGrotesk-Regular-Web") format("svg");
}
@font-face {
  font-family: 'AtlasGrotesk-RegularItalic-Web';
  src: url("../fonts/AtlasGrotesk-RegularItalic-Web.eot");
  src: url("../fonts/AtlasGrotesk-RegularItalic-Web.eot") format("embedded-opentype"), url("../fonts/AtlasGrotesk-RegularItalic-Web.woff2") format("woff2"), url("../fonts/AtlasGrotesk-RegularItalic-Web.woff") format("woff"), url("../fonts/AtlasGrotesk-RegularItalic-Web.ttf") format("truetype"), url("../fonts/AtlasGrotesk-RegularItalic-Web.svg#AtlasGrotesk-RegularItalic-Web") format("svg");
}
/**
 * Base styles ~ Type
 */
body {
  color: #4d4d4d;
}

a {
  font-family: "AtlasGrotesk-Light-Web", helvetica, sans-serif;
  color: blue;
}
a:hover {
  color: #0a0aff;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 14px 0;
  font-family: "AtlasGrotesk-Medium-Web", helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #000;
  text-rendering: optimizeLegibility;
}

h1,
.h1 {
  font-size: 44px;
  line-height: 48.4px;
  font-size: 4.4rem;
  line-height: 4.84rem;
}

h2,
.h2 {
  font-size: 37px;
  line-height: 40.7px;
  font-size: 3.7rem;
  line-height: 4.07rem;
}

h3,
.h3 {
  font-size: 27px;
  line-height: 29.7px;
  font-size: 2.7rem;
  line-height: 2.97rem;
}

h4,
.h4 {
  font-size: 23px;
  line-height: 25.3px;
  font-size: 2.3rem;
  line-height: 2.53rem;
}

h5,
.h5 {
  font-size: 17px;
  line-height: 18.7px;
  font-size: 1.7rem;
  line-height: 1.87rem;
}

h6,
.h6 {
  font-size: 14px;
  line-height: 15.8px;
  font-size: 1.4rem;
  line-height: 1.58rem;
}

p {
  font-family: "AtlasGrotesk-Light-Web", helvetica, sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-size: 1.6rem;
  line-height: 2.5rem;
  margin-bottom: 17px;
  font-family: inherit;
  font-weight: normal;
}

hr {
  margin: 22px 0 21px;
  height: 0;
  border: solid #eee;
  border-width: 1px 0 0;
  clear: both;
}

em,
i {
  font-style: italic;
  line-height: inherit;
}

strong,
b {
  font-weight: bold;
  line-height: inherit;
}

small {
  font-size: 60%;
  line-height: inherit;
}

body {
  height: 100%;
  width: 100%;
  position: relative;
  margin-bottom: 100vh;
}
body.locked {
  overflow: hidden;
}

.top, .right, .bottom, .left {
  position: fixed;
  z-index: 9;
  transform: translateZ(0);
}
.top p, .right p, .bottom p, .left p {
  margin: 0;
}

.top {
  top: 3rem;
}

.bottom {
  bottom: 3rem;
}

.left {
  left: 3rem;
}

.right {
  right: 3rem;
}

#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  opacity: 1;
  visibility: visible;
}

.main {
  height: 100%;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  position: relative;
  z-index: 9;
}

.projects {
  height: 100%;
  width: 100%;
  position: relative;
  padding-top: 8rem;
  height: 470rem;
}
@media screen and (max-width: 480px) {
  .projects {
    height: 100%;
    padding-top: 1.5rem;
    display: flex;
    flex-flow: column nowrap;
  }
}
.projects figure {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}
@media screen and (max-width: 480px) {
  .projects figure {
    margin: 1rem 0;
    width: 100%;
    order: 4;
  }
  .projects figure:first-child {
    order: 3;
  }
  .projects figure:nth-child(2) {
    order: 2;
  }
  .projects figure:nth-child(3) {
    order: 1;
  }
}
@media screen and (min-width: 480px) {
  .projects figure {
    position: absolute;
    top: 100%;
  }
  .projects figure:first-child {
    height: 23rem;
    width: 30rem;
    top: 8rem;
    left: 0;
  }
  .projects figure:nth-child(2) {
    height: 54rem;
    width: 92rem;
    top: 8rem;
    right: 0;
  }
  .projects figure:nth-child(3) {
    height: 23rem;
    width: 30rem;
    top: 43rem;
    left: 0;
  }
  .projects figure:nth-child(4) {
    height: 67.5rem;
    width: 48rem;
    top: 81rem;
    left: 0;
  }
  .projects figure:nth-child(5) {
    height: 23rem;
    width: 30rem;
    top: 76rem;
    left: 47%;
  }
  .projects figure:nth-child(6) {
    height: 40.4rem;
    width: 30rem;
    top: 76rem;
    right: 0;
  }
  .projects figure:nth-child(7) {
    height: 44rem;
    width: 30rem;
    top: 113rem;
    left: 47%;
  }
  .projects figure:nth-child(8) {
    height: 23rem;
    width: 30rem;
    top: 130rem;
    right: 0;
  }
  .projects figure:nth-child(9) {
    height: 54rem;
    width: 92rem;
    top: 175.5rem;
    left: 0;
  }
  .projects figure:nth-child(10) {
    height: 23rem;
    width: 30rem;
    top: 167rem;
    right: 0;
  }
  .projects figure:nth-child(11) {
    height: 23rem;
    width: 30rem;
    top: 205rem;
    right: 0;
  }
  .projects figure:nth-child(12) {
    height: 43rem;
    width: 30rem;
    top: 245.5rem;
    left: 0;
  }
  .projects figure:nth-child(13) {
    height: 67.5rem;
    width: 47rem;
    top: 245.5rem;
    left: 44rem;
  }
  .projects figure:nth-child(14) {
    height: 43rem;
    width: 30rem;
    top: 263.5rem;
    right: 0;
  }
  .projects figure:nth-child(15) {
    height: 23rem;
    width: 30rem;
    top: 302.5rem;
    left: 0;
  }
  .projects figure:nth-child(16) {
    height: 54rem;
    width: 92rem;
    top: 324.7rem;
    right: 0;
  }
  .projects figure:nth-child(17) {
    height: 67.5rem;
    width: 47rem;
    top: 392rem;
    left: 0;
  }
  .projects figure:nth-child(18) {
    height: 43rem;
    width: 23rem;
    top: 392rem;
    left: 62.5rem;
  }
}
.projects figure figcaption a {
  text-decoration: none;
  color: #3e3e3e;
}
.projects figure figcaption p {
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: .1rem;
}
.projects figure figcaption p span {
  color: #999999;
}
@media screen and (max-width: 480px) {
  .projects figure figcaption p {
    display: none;
  }
}
.projects figure:first-child, .projects figure:nth-child(3), .projects figure:nth-child(4) {
  padding-left: 0;
}

header {
  height: 6rem;
  width: 100%;
  border-bottom: 1px solid #d0d0d0;
  display: flex;
  flex-flow: row wrap;
}
header div.menu {
  float: left;
  border-right: 1px solid #d0d0d0;
}
@media screen and (max-width: 480px) {
  header div.menu {
    flex: 1;
    order: 2;
    border-right: 0;
    border-left: 1px solid #d0d0d0;
    align-self: flex-end;
  }
}
header div.logo-wrap {
  flex-grow: 1;
  height: 6rem;
}
header div.logo-wrap a {
  text-decoration: none;
}
header div.logo-wrap h1.logo {
  text-align: center;
  font-size: 3rem;
  width: 100%;
  letter-spacing: 1.5px;
  margin: 0;
}
@media screen and (max-width: 480px) {
  header div.logo-wrap h1.logo {
    text-align: left;
    font-size: 2.5rem;
    line-height: 5rem;
  }
}
@media screen and (max-width: 480px) {
  header div.logo-wrap {
    align-self: flex-start;
    flex: 2;
    order: 1;
  }
}
header div.shop {
  float: right;
  border-left: 1px solid #d0d0d0;
}
@media screen and (max-width: 480px) {
  header div.shop {
    display: none;
  }
}
header .menu, header .shop {
  letter-spacing: 1px;
  width: 37rem;
  height: 6rem;
}
header .menu a, header .shop a {
  height: 100%;
  width: 100%;
  display: block;
  line-height: 6rem;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  color: #4d4d4d;
  font-size: 1.6rem;
}
@media screen and (max-width: 480px) {
  header .menu a, header .shop a {
    font-size: 1.4rem;
    padding-left: 1rem;
  }
}

.menu-mobile {
  height: 100vh;
}
.menu-mobile ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.menu-mobile ul li {
  width: 100%;
  line-height: 12rem;
}
.menu-mobile ul li a {
  display: block;
  width: 100%;
  font-size: 4.5rem;
  color: black;
  text-align: center;
  font-family: "AtlasGrotesk-Medium-Web", helvetica, sans-serif;
  text-decoration: none;
}

footer {
  background: white;
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 8rem;
  z-index: 1;
  bottom: 0;
  transform: translateZ(0);
}
@media screen and (max-width: 480px) {
  footer {
    padding-top: 0;
  }
}
footer > div {
  width: 100%;
}
footer > div a {
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: "AtlasGrotesk-Medium-Web", helvetica, sans-serif;
  color: black;
  text-decoration: none;
  font-size: 4.5rem;
  letter-spacing: .1rem;
}
footer > div a:hover {
  color: black;
}
@media screen and (max-width: 480px) {
  footer > div a {
    text-align: left;
    padding-left: 4rem;
    font-size: 2rem;
    margin: 6rem 0;
  }
}
footer > ul {
  margin: 0 0 5rem 0;
  padding: 6rem 0 0 0;
  list-style: none;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
body.home footer > ul {
  margin: 0 0 8rem 0;
}
@media screen and (max-width: 480px) {
  footer > ul {
    flex-flow: column nowrap;
    padding-top: 0rem;
  }
}
@media screen and (max-width: 480px) {
  footer > ul li {
    padding-bottom: 1rem;
    text-align: left;
    padding-left: 4rem;
  }
}
footer > ul li a, footer > ul li p {
  padding: 1rem;
  margin: 0;
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "AtlasGrotesk-Regular-Web", helvetica, sans-serif;
  color: #4d4d4d;
  line-height: 1;
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
@media screen and (max-width: 480px) {
  footer > ul li a, footer > ul li p {
    text-align: left;
  }
}
footer > ul li a:hover, footer > ul li p:hover {
  transform: translateY(-0.5rem);
  color: #4d4d4d;
}

#menu {
  opacity: 0;
  visibility: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  transform: translateZ(0);
}
#menu .half {
  width: 50%;
  height: 100vh;
  position: relative;
  z-index: 9;
  float: left;
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  #menu .half {
    display: none;
  }
}
#menu .half .cover {
  height: 100%;
  width: 100%;
  opacity: 0;
  position: relative;
}
#menu .half .cover img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 60vw;
}
#menu .half a {
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 100vh;
  text-decoration: none;
  font-family: "AtlasGrotesk-Medium-Web", helvetica, sans-serif;
  font-size: 10rem;
  color: black;
  position: absolute;
  z-index: 99999;
}
#menu a.close {
  color: black;
  font-size: 1rem;
  text-decoration: none;
  font-family: "AtlasGrotesk-Regular-Web", helvetica, sans-serif;
  text-transform: uppercase;
  z-index: 99999;
  padding: 3rem;
  top: 2rem;
  right: 2rem;
}
@media screen and (max-width: 480px) {
  #menu a.close {
    font-size: 1.5rem;
  }
}

.block-prevnext {
  width: 8.8rem;
  height: calc(100vh - 7rem);
  margin: 3.5rem 0;
  position: fixed;
  top: 0;
  transform: translateZ(0);
  z-index: 999;
}
@media screen and (max-width: 480px) {
  .block-prevnext {
    display: none !important;
  }
}
.block-prevnext > a {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
}
.block-prevnext.prev {
  left: 0;
  border-right: 1px solid #b4b4b4;
}
.block-prevnext.next {
  right: 0;
  border-left: 1px solid #b4b4b4;
}
.block-prevnext .title-block {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.block-prevnext .title-block > span {
  transform: rotate(-90deg);
  display: block;
  text-decoration: none;
  color: #3e3e3e;
  width: 240%;
  position: absolute;
  left: -6rem;
  z-index: 999;
}
.block-prevnext .title-block p {
  display: block;
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: .1rem;
}
.block-prevnext .title-block p span {
  color: #999999;
}
.block-prevnext .img-wrap {
  width: 10.7rem;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  visibility: hidden;
}
.block-prevnext .img-wrap img {
  width: 10.7rem !important;
  height: 7.1rem !important;
  display: block;
  margin-bottom: 3.5rem !important;
  opacity: 0;
}
.block-prevnext .img-wrap img:last-child {
  margin-bottom: 0 !important;
}

.mobile-prevnext {
  height: 4rem;
  width: 100%;
  max-width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-bottom: 1px solid #d0d0d0;
}
@media screen and (min-width: 480px) {
  .mobile-prevnext {
    display: none !important;
  }
}
.mobile-prevnext > div {
  text-align: center;
}
.mobile-prevnext > div:first-child {
  width: 30%;
  border-right: 1px solid #d0d0d0;
}
.mobile-prevnext > div:nth-child(2) {
  width: 40%;
}
.mobile-prevnext > div:last-child {
  width: 30%;
  border-left: 1px solid #d0d0d0;
}
.mobile-prevnext > div > a {
  line-height: 4rem;
  text-decoration: none;
  font-size: 1.2rem;
  color: #4d4d4d;
}

.landing {
  background: white;
  height: 100%;
  width: 100%;
  min-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  height: 100vh;
  position: absolute;
  z-index: 2;
}
.landing .logo-wrap {
  width: 100%;
  height: 15rem;
  transform: translateY(-50%);
  position: fixed;
  top: 50%;
  z-index: 9;
}
.landing .logo-wrap h1.logo {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 15rem;
  width: 100%;
  margin: 0;
  text-indent: -99999px;
  background: url("../images/logo-black.svg") no-repeat center center;
  background-size: 60rem;
}
.landing .fixed-wrap {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 450px;
  top: 50%;
  margin-top: -225px;
}
.landing .fixed-wrap .cover {
  height: 450px;
  width: 470px;
  position: relative;
  left: 50%;
  margin-left: -235px;
  overflow: hidden;
}
.landing .fixed-wrap .cover #video-wrap video {
  position: absolute;
  top: 50%;
  left: 50%;
}
@media screen and (max-width: 480px) {
  .landing {
    display: none !important;
  }
}

#main.home,
#main.work {
  z-index: 99;
  background-color: #f1f1f1;
  padding: 2rem;
}

#main.home {
  position: relative;
  top: 100vh;
}
@media screen and (max-width: 480px) {
  #main.home {
    top: 0 !important;
  }
}

#main.about {
  height: 100%;
  width: 100%;
  background: black;
  padding: 2rem;
  color: white;
}
#main.about header a, #main.about header h1 {
  color: white;
}
#main.about section.footer > div h3 {
  margin-bottom: 2.3rem;
}
#main.about section.footer > div a {
  color: #999999;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: "AtlasGrotesk-Regular-Web", helvetica, sans-serif;
}
#main.about section.footer > div p, #main.about section.footer > div h3 {
  white-space: normal;
}
#main.about section.footer > div a:hover {
  color: white;
}
#main.about section.footer > div.contact {
  min-width: 17rem;
}
#main.about section.footer > div.contact p:nth-child(3) {
  text-transform: none !important;
  letter-spacing: 0.06rem;
}
#main.about section.footer > div.follow p:last-child {
  padding-bottom: 4rem;
  border-bottom: 1px solid #999999;
  font-size: 1.4rem;
  text-transform: none !important;
}
#main.about section.footer > div.credit h3:not(:first-child) {
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.5rem;
}

#main.project {
  padding: 2rem;
  max-width: 100vw;
  overflow-x: hidden;
  background: white;
}
#main.project .wrap {
  background: white;
}
@media screen and (min-width: 480px) {
  #main.project {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  #main.project .wrap {
    padding-left: 15rem;
    padding-right: 15rem;
  }
}
#main.project .infos {
  position: relative;
  overflow: auto;
}
#main.project .infos h1 {
  margin-top: 6rem;
  margin-bottom: 3.5rem;
  display: inline-block;
  position: relative;
  letter-spacing: 1.5px;
  font-size: 4.5rem;
}
@media screen and (max-width: 480px) {
  #main.project .infos h1 {
    font-size: 4rem;
  }
}
#main.project .infos h1 .date {
  margin: 0;
  position: absolute;
  top: 0;
  left: calc(100% + 1.5rem);
  font-family: "AtlasGrotesk-Light-Web", helvetica, sans-serif;
  color: #999999;
  font-size: 1.4rem;
  letter-spacing: 1px;
}
@media screen and (max-width: 480px) {
  #main.project .infos h1 .date {
    left: 0;
    top: 100%;
  }
}
#main.project .infos .client {
  margin-bottom: 4rem;
}
#main.project .infos .client p {
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.3;
  font-size: 1.1rem;
  color: #4d4d4d;
}
#main.project .infos .client p span {
  display: block;
  color: #999999;
}
#main.project .infos .share {
  min-width: 7rem;
  position: absolute;
  right: 0;
  top: 6rem;
}
@media screen and (max-width: 480px) {
  #main.project .infos .share {
    position: static;
  }
}
#main.project .infos .share ul {
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 480px) {
  #main.project .infos .share ul {
    display: flex;
  }
}
#main.project .infos .share ul li {
  font-family: "AtlasGrotesk-Light-Web", helvetica, sans-serif;
  text-transform: uppercase;
  text-align: right;
  line-height: 1.3;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #999999;
  margin-bottom: 2rem;
}
@media screen and (max-width: 480px) {
  #main.project .infos .share ul li {
    margin-left: 3rem;
  }
  #main.project .infos .share ul li:first-child {
    margin-left: 0;
  }
}
#main.project .infos .share ul li a {
  display: block;
  width: 100%;
  text-decoration: none;
  font-size: 1rem;
  color: #4d4d4d;
}
#main.project .infos .share ul li:not(:first-child) {
  overflow: hidden;
  position: relative;
  min-height: 3.3rem;
  margin-bottom: 0;
}
#main.project .infos .share ul li:not(:first-child) a {
  position: absolute;
  left: calc(100% - 1rem);
  transition: left 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#main.project .infos .share ul li:not(:first-child):hover a {
  left: 0;
}
#main.project .infos .share ul li:nth-child(3) a {
  left: calc(100% - 2.4rem);
}
#main.project img {
  margin-bottom: 5.5rem;
  width: 100%;
}
@media screen and (max-width: 480px) {
  #main.project img {
    margin-bottom: 2.5rem;
  }
}
#main.project figure.half {
  margin: 0;
  width: 50%;
  float: left;
  padding-right: 2.5rem;
}
@media screen and (max-width: 480px) {
  #main.project figure.half {
    padding-right: 1rem;
  }
}
#main.project figure.half + figure.half {
  padding-right: 0;
  padding-left: 2.5rem;
}
@media screen and (max-width: 480px) {
  #main.project figure.half + figure.half {
    padding-left: 1rem;
  }
}
#main.project section {
  overflow: auto;
  margin-bottom: 5.5rem;
  width: 100%;
}
@media screen and (max-width: 480px) {
  #main.project section:last-of-type > div:first-child {
    display: none;
  }
}
#main.project section > div {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 48.821174201%;
}
#main.project section > div:last-child {
  margin-right: 0;
}
@media screen and (max-width: 480px) {
  #main.project section > div {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%;
  }
  #main.project section > div:last-child {
    margin-right: 0;
  }
}
#main.project section > div:first-child {
  position: relative;
}
#main.project section > div:first-child p {
  margin: 0;
  font-family: "AtlasGrotesk-Light-Web", helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #999999;
}
#main.project section > div:first-child p.text-hide {
  opacity: 0;
}
#main.project section > div:last-child p {
  letter-spacing: 1px;
  font-family: "AtlasGrotesk-Regular-Web", helvetica, sans-serif;
  font-size: 2.5rem;
  line-height: 3.6rem;
  color: black;
  margin: 0;
  text-transform: none;
}
@media screen and (max-width: 480px) {
  #main.project section > div:last-child p {
    font-size: 2rem;
    line-height: 2.8rem;
  }
}
#main.project section > div:last-child p a {
  text-decoration: none;
  color: #d0d0d0;
  transition: color 0.25s cubic-bezier(1, 0, 0, 1);
}
#main.project section > div:last-child p a:hover {
  color: black;
}
