body {
  @include size(100%);
  position: relative;
  &.locked {
    overflow: hidden;
  }
}
#loader {
  @include size(100%);
  position: fixed;
  z-index: 99999;
  top:0; left: 0; right: 0;
  background: white;

  opacity: 1;
  visibility: visible;
}
.main {
  @include size(100%);
  max-width: 100vw;
  overflow: hidden;
  position: relative;
  z-index:9;
}
.projects {
  @include size(100%);
  position: relative;
  padding-top: 8rem;
  // @include media(max-width 960px) {
  //   width: 100%;
  //   height: 100%;
  //   display: flex;
  //   flex-flow: row wrap;
  //   figure {
  //     position: relative !important;
  //   }
  // }
  @include media($mobile) {
    display: flex;
    flex-flow: column nowrap;
  }
  @include media(min-width 1440px) {
    max-width: 144rem;
    margin:0 auto;
    // height: 483rem;
  }
  @include media(min-width 1920px) {
    max-width: 192rem;
    margin:0 auto;
    // height: 643rem;
  }


  // display: flex;
  // flex-flow: row wrap;
  // justify-content: flex-start;
  // align-items: flex-start;
  // align-content: flex-start;

  figure {
    display: inline-block;
    vertical-align: top;
    margin: 0 5rem 5rem 0;
    @include media($mobile) {
      margin: 1rem 0;
      width: 100%;
    }

    // position: absolute;
    // &:first-child  { @include span-columns(3); padding-right: 5rem; box-sizing: content-box; }
    // &:nth-child(2) { @include span-columns(8); @include shift(4); }
    // &:nth-child(3) { @include span-columns(3); padding-right: 5rem; box-sizing: content-box; top: 51.8rem; }
    order: 4;
    &:first-child {
      @include media($mobile) {
        order: 3;
      }
    }
    &:nth-child(2) {
      @include media($mobile) {
        order:2;
      }
    }
    &:nth-child(3) {
      @include media($mobile) {
        order:1;
      }
    }
    // &:nth-child(4) { @include span-columns(4); top: 89.8rem; }
    // &:nth-child(5) { @include span-columns(4); top: 86.5rem; left: 62rem;}
    // &:nth-child(6) { @include span-columns(4); top: 167.7rem; }
    // &:nth-child(7) { @include span-columns(4); top: 167.7rem; }
    // &:nth-child(8) { @include span-columns(4); top: 167.7rem; }
    // &:nth-child(9) { @include span-columns(4); top: 167.7rem; }
    // &:nth-child(10) { @include span-columns(4); top: 167.7rem; }
    // &:nth-child(11) { @include span-columns(4); top: 167.7rem; }
    // &:nth-child(12) { @include span-columns(4); top: 167.7rem; }
    // &:nth-child(13) { @include span-columns(4); top: 167.7rem; }
    // &:nth-child(14) { @include span-columns(4); top: 167.7rem; }
    // &:nth-child(15) { @include span-columns(4); top: 167.7rem; }
    // &:nth-child(16) { @include span-columns(4); top: 167.7rem; }
    // &:nth-child(17) { @include span-columns(4); top: 167.7rem; }
    // &:nth-child(18) { @include span-columns(4); top: 167.7rem; }

    figcaption {
      a {
        text-decoration: none;
        color: $grey;
      }
      p {
        text-align: center;
        font-size: 1.3rem;
        letter-spacing: .1rem;

        span {
          color: #999999;
        }

        @include media($mobile) {
          display: none;
        }
      }
    }
    &:first-child,
    &:nth-child(3),
    &:nth-child(4) {
      padding-left: 0;
    }
  }
}
