#menu {
  opacity: 0;
  display: none;

  @include size(100%);
  position: fixed;
  z-index: 99999;
  top: 0; left: 0; right: 0;
  background: white;

  .half {
    width: 50%;
    height: 100vh;
    position: relative;
    float: left;
    overflow: hidden;

    a {
      display: block;
      @include size(100%);
      text-align: center;
      line-height: 100vh;

      text-decoration: none;
      font-family: $atlasMed;
      font-size:10rem;
      color: black;

      position: absolute;
      z-index: 99998;
    }


    &.ready:hover {
      .cover {
        opacity: 1;
        @include transition(opacity 0.25s ease-out);
      }
    }
  }

  a.close {
    color: black;
    font-size: 1rem;
    text-decoration: none;
    font-family: $atlasReg;
    text-transform: uppercase;

    z-index: 99999;
    padding: 3rem;
    top: 2rem;
    right: 2rem;
  }

  .cover {
    object-fit: cover;
    min-height: 100vh;
    opacity: 0;
    @include transition(opacity 0.25s ease-in);
  }
}
