#menu {
  opacity: 0;
  visibility: hidden;

  @include size(100%);
  position: fixed;
  z-index: 99999;
  top: 0; left: 0; right: 0;
  background: white;

  .half {
    width: 50%;
    height: 100vh;
    position: relative;
    z-index: 9;
    float: left;
    overflow: hidden;

    @include media($mobile) {
      display: none;
    }

    .cover {
      opacity: 0;
      position: relative;
      // @include transition(opacity 0.5s ease-in);
      img {
        object-fit: cover;
        min-height: 100vh;
        min-width: 100%;
      }
    }

    a {
      display: block;
      @include size(100%);
      text-align: center;
      line-height: 100vh;

      text-decoration: none;
      font-family: $atlasMed;
      font-size:10rem;
      color: black;

      position: absolute;
      z-index: 99999;
    }


    // &.ready {
    //   &:hover {
    //     .cover {
    //       opacity: 1;
    //       @include transition(opacity 0.5s ease-out);
    //     }
    //   }
    // }
  }

  a.close {
    color: black;
    font-size: 1rem;
    text-decoration: none;
    font-family: $atlasReg;
    text-transform: uppercase;

    z-index: 99999;
    padding: 3rem;
    top: 2rem;
    right: 2rem;
  }
}
