.block-prevnext  {
	width:8.8rem;
	height: calc(100vh - 7rem);
	margin: 3.5rem 0;

	position: fixed; top: 0;
	@include transform(translateZ(0));
	z-index: 999;

	@include media($mobile) {
		display: none !important;
	}

	> a {
		display: block;
		@include size(100%);
		position: absolute;
	}
	&.prev {
		left: 0;
		border-right: 1px solid #b4b4b4;
	}
	&.next {
		right: 0;
		border-left: 1px solid #b4b4b4;
	}
	.title-block {
		position: relative;
		top: 50%;
		@include transform(translateY(-50%));

		> span {
			@include transform(rotate(-90deg));
			display: block; 
	        text-decoration: none;
	        color: $grey;
	       	width: 240%;

			position: absolute;
    		left: -6rem;
    		z-index: 999;
	    }

		p {
			display: block;
	        text-align: center;
	        font-size: 1.3rem;
	        letter-spacing: .1rem;

	        span {
	        	color: #999999;
	        }
      	}
	}
	.img-wrap {
		// position: fixed;
		width: 10.7rem;
		margin: 0 auto;
		position: relative;
		top: 50%;
		@include transform(translateY(-50%));

		visibility: hidden;

		img {
			width: 10.7rem !important;
			height: 7.1rem !important;
			display: block;
			margin-bottom: 3.5rem !important;
			
			&:last-child {
				margin-bottom: 0 !important;
			}
			
			opacity: 0;
		}
	}
}
.mobile-prevnext {
	@include media($desktop) {
		display: none !important;
	}
	height: 4rem;
	width: 100%;
	max-width: 100vw;
	margin-top: 7rem;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;

	border-bottom: 1px solid #d0d0d0;

	> div {
		text-align: center;

		&:first-child {
			width: 30%;
			border-right: 1px solid #d0d0d0;
		}
		&:nth-child(2) {
			width: 40%;
		}
		&:last-child {
			width: 30%;
			border-left: 1px solid #d0d0d0;
		}

		> a {
			line-height: 4rem;
			text-decoration: none;
			font-size: 1.2rem;
			color: #4d4d4d;
		}
	}
}